#container{
    height:500px;
    width:100%;
    border: 2px solid black;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    /* flex-wrap:wrap; */
    /* align-items: center; */
    /* align-content: baseline; */
}

#indi{
    flex-shrink:10;
}
#vio{
    /* align-self:center; */
    /* flex-basis: 100px; */
    flex-shrink:1;
    /* min-height: 100px; */

}
h1{
    text-align: center;
    color:blue;
    text-decoration: 10px underline;
}

div{
    height:90px;
    width:200px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 7mm;
}