.outer{
    height:50px;
    width:900px;
    background-color: pink;
    border-radius:10px;
    border: 2px solid skyblue;
    display:flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;   
}

.outer div{
    height:50px;
    width: 80px;
    /* display:inline-block; */
    font-size: 24px;
    border-radius:10px;
    margin-left:5px;
    line-height: 50px;
}