*{
    margin:0;
    font-family: arial;
    border: border-box;
}

.navbar{
    height:60px;
    background-color: #0F1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
/* logo styling......... */
.nav_logo{
    height:50px;
    width:113px;  
}

.logo{
    background-image: url('images/amazon_logo.png');
    background-size:cover;
    height:50px;
    width:100%;
    
}

.border:hover{
    border: 1px solid white;
}

/* navigation address styling........  */

.add-icon p{
    font-weight: bold;
    font-size:0.88rem;
    margin-left:3px;
}

.nav_address>p{
    font-size:0.80rem;
    color: #CCCCCC;
    margin-left:15px;
}
.add-icon{
    display:flex;
    align-items: center;
}

/* search bar Styling */

.nav_search-bar{
    display:flex;
    width:750px;
    height:40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.nav_search-bar:hover{
    border:2px solid orange;
}

.dropdown{
    border-radius: 4px 0 0 4px;
    background-color: #F3F3F3;
    width:45px;
    padding-left:5px;
    text-align: center;
    border:none;
}

.search_input{
    width:100%;
    font-size: 0.94rem;
    border:none;   
}

.search_icon{
    width:45px;
    background-color: #febd68;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    border-radius: 0 4px 4px 0;
    color:#0f1111;
}

/* City selection style */
.nav_select-city{
    display:flex;
    align-items: center; 
    height:50px
}

.nav_select-city i{
    opacity:0.7;
}

.nav_select-city div img{
  height: 21.6px;
   
}
/* account/return/order style */
.sel-lang{
    font-size:0.87rem;
    background-color: inherit;
    border:none; 
    color:white;
    font-weight: bold;
}

.item1{
 font-size:0.77rem;
}

.item2{
    font-size:0.875rem;
    font-weight: 600;
    border:none;
    background-color: #0F1111;
    color:white;
  
}

.item2 i{
    opacity:0.7;
    font-size: 0.74rem;
}

/* Cart styling */
.nav_cart i{
   font-size:25px;
}
.nav_cart{
    font-size: 0.74rem;
    font-weight: bold;
}